// /******************************************************************
// Stylesheet: Base Mobile Stylesheet
// ******************************************************************/


// /*********************
// ALERTS
// *********************/


// alerts and notices
%alert {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid;
}

.alert-help {
    @extend %alert;
    border-color: darken($alert-yellow, 5%);
    background: $alert-yellow;
}

.alert-info {
    @extend %alert;
    border-color: darken($alert-blue, 5%);
    background: $alert-blue;
}

.alert-error {
    @extend %alert;
    border-color: darken($alert-red, 5%);
    background: $alert-red;
}

.alert-success {
    @extend %alert;
    border-color: darken($alert-green, 5%);
    background: $alert-green;
}





/*********************
GENERAL STYLES
*********************/
html, body{
  overflow-x: hidden; 
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */  
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}


// /*********************
// LAYOUT & GRID STYLES
// *********************/

.wrap {
  // width: 96%;
  margin: 0 auto;
}
.page-wrap{
  box-shadow: 5px 0 15px -4px rgba(23, 32, 35, 0.1), -5px 0 8px -4px rgba(23, 32, 35, 0.1);
  max-width: 1440px;
  margin: auto;
}
.wrap-1140{
  max-width: 1140px;
  margin: auto;
}
.mw-1100{
  max-width: 1100px;
  margin: auto;
}
.mw-1040{
  max-width: 1040px;
  margin: auto;
}
.mw-960{
  max-width: 960px;
  margin: auto;
}
.mw-710{
  max-width: 710px;
  margin: auto;
}
.mw-600{
  max-width: 600px;
  margin: auto;
}
.mw-640{
  max-width: 640px;
  margin: auto;
}
.mw-850-auto{
    max-width: 850px;
    margin: auto;
}

.inline-block, .dib{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*********************
LINK STYLES
*********************/
input[type="submit"]{
  @extend .tran;
}
a{
  //@extend .tran;
  color: $link-color;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

// /*********************
// IMAGE STYLES
// *********************/
img{
  width: auto;
  max-width: 100%;
  display: block;
}
.acf-map{
  img{
    max-width: 20000%;
  }
}


// /*********************
// ALL STYLES
// *********************/



/***for popup***/
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8;/*filter:alpha(opacity=80)*/}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block; zoom: 1; *display: inline;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block; zoom: 1; *display: inline;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-ready .mfp-preloader{display:none}.mfp-s-error .mfp-content{display:none}button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:hover,.mfp-close:focus{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#fff}.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;opacity:.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:hover,.mfp-arrow:focus{opacity:1}.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}.mfp-arrow:after,.mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow:before,.mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px}.mfp-arrow-left{left:0}.mfp-arrow-left:after,.mfp-arrow-left .mfp-a{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left:before,.mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right:after,.mfp-arrow-right .mfp-a{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right:before,.mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}.mfp-iframe-holder .mfp-close{top:-40px}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure{line-height:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
/** /for popup**/
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


.white-popup {
  position: relative;
  width: auto;
  background-color: $white;
  color: $white;
  max-width: 640px;
  margin: 20px auto;
  padding: 0.3em;
  &.white-popup--mw1100{
    max-width: 1100px;
  }
}

.mfp-close-btn-in .mfp-close{
    margin-top: -1.3em;
    margin-right: -0.5em;
    outline: none;
    &:hover{
      background-color: transparent;
    }
}

.mfp-bg, .white-popup{
    @extend .tran;
}

///animate the popup in [not out :( soon.... ]
.mfp-bg, .mfp-bg.mfp-removing, .mfp-wrap .mfp-content, .mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  @extend .tran;
}
.mfp-bg.mfp-ready {
  opacity: 0.9;
}

.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/** end for popup**/


// fixed sticky 
// sidebar
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/*********************
LIST
*********************/

.list-check{
    li{
        background-image: url('#{$r}check.svg');
        background-size: 1em;
        background-repeat: no-repeat;
        background-position: left 0.4em;
        padding-left: 1.5em; 

        
        
    }
}
.list-check--white li{
  background-image: url('#{$r}white-check.png');
  padding-left: 1.5em; 
}       

/*********************
FOOTER
*********************/
.footer{
    background-color: $blue;
    @extend  .posr;
    
    .inner-footer{
      @media #{$s2}{
        text-align: center;
        // max-width: 260px;
      }
    }
    h3, p, a{
      @extend .cfff;
    }
    .social-icons{
      @media #{$s2}{
        padding-top: 1em;
        margin-bottom: 0;
      }
      a{
        opacity: 1;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    
    h3{
      max-width: 170px;
      @media #{$s}{
        font-size: 1.2em;
      }
      @media #{$s2}{
        color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    }
    .contact-info{
      @media #{$s2}{
        max-width: 170px;
        margin: auto;
      }
      p{
        @extend .text-left;
        @media #{$s2}{
          line-height: 1.2;
          font-size: 0.8em;
        }
      }
      a:hover{
        color: $mid-grey;
      }
    }
}
.social-icon{
  margin-right: 1%;
  display: inline-block;
  @extend .tran;
  &:hover{
    transform: scale(1.2);
  }
  svg{
    width: 100%;
    max-width:  42px;
    max-height: 42px;
  }
}
.phone, .cell-phone, .email, .address{
  background-image: url('#{$r}footer-02.svg');
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 0 0.2em;
  padding-left: 1.5em;
  display: block;
  border-bottom: 1px solid transparent;
  margin-bottom: 1em;
  display: inline-block;
  &:hover{
    border-color: rgba(#fff, 0.5);
  }
}
.email{
  background-image: url('#{$r}footer-04.svg');
}
.footer-nav, .footer-nav2{
  li{
    margin-bottom: 0.5em;
  }
  a{
    border-bottom: 1px solid transparent;
    &:hover{
      border-color: rgba(#fff, 0.5);
    }
  }
}
@media #{$m2}{
  .footer-nav{
    text-align: center;
    @media #{$xs2}{
      display: none;
    }
    li{
      display: inline-block;
      font-weight: bold;
      padding: 0 1em;
    }
  }
}
.bottom-footer{
  border-top: 1px solid #fff;
}
.bottom-logo{
  float: left;
}
.copyright{
  float: right;
}
/*********************
NORMAL PAGE
*********************/
.normal-page{
  padding: 1em;
  ul, ol{
    padding-left: 1em;
    list-style-type: disc;
  }
  ol{
    list-style-type: decimal;
  }
  ul{
    ul{
      list-style-type: square;
      ul{
        list-style-type: circle;
      }
    }
  }
  li{
    margin-bottom: 1em;
  }
  td, th{
    border: 1px solid $grey;
    padding: 0.5em;
  }
  blockquote{
    font-style: italic;
    font-size: 1.2em;
  }
  a{
    color: $blue;
    text-decoration: underline;
    &:hover{
      color: darken($blue, 15%);
    }
  }
}
.acf-map img {    
max-width:inherit !important; 
}


//////////padding and margin classes////////////
//////////padding and margin classes////////////
//////////padding and margin classes////////////
.ma{
  margin: auto;
}
.m0{
  margin: 0;
}
.mt0{
  margin-top: 0;
}
.mb0{
  margin-bottom: 0;
}
.m05{
  margin: 0.5em;
}
.mt05{
  margin-top: 0.5em;
}
.mb05{
  margin-bottom: 0.5em;
}
.m1{
  margin: 1em;
}
.mt1{
    margin-top: 1em;
}
.mb1{
    margin-bottom: 1em;
}
.mt2{
  margin-top: 2em;
}
.mb2{
  margin-bottom: 2em;
}




.p05{
  padding: 0.5em;
}
.pt05{
  padding-top: 0.5em;
}
.pb05{
  padding-bottom: 0.5em;
}
.p1{
  padding: 1em;
}
.pt1{
  padding-top: 1em;
}
.pb1{
  padding-bottom: 1em;
}
.p2{
  padding: 2em;
}
.pt2{
  padding-top: 2em;
}
.pb2{
  padding-bottom: 2em;
}



////////////animations////////////
////////////animations////////////
////////////animations////////////

.bounce{
  animation-name: bounce;
  -webkit-animation-name: bounce; 

  animation-duration: 3s; 
  -webkit-animation-duration: 3s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;   

  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-10%);
  } 
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
  }
  100%{
    -webkit-transform: translateY(-10%);
  } 
}
