// @font-face {
// 	font-family: 'icomoon';
// 	src:url('../fonts/icomoon/icomoon.eot');
// 	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/icomoon/icomoon.woff') format('woff'),
// 		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
// 		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

$sans-serif:        'Proxima Nova', 'proxima-nova', 'Helvetica', sans-serif;
$serif:             'PT Serif', serif;

//need proxima nova regular, bold, light-italic

//set text variables to content variables
$body-text:         $serif;
$title-text:        $sans-serif;
$button-font:       $sans-serif;

.serif{
	font-family: $serif;
}
.sans-serif{
	font-family: $sans-serif;
}


// /******************************************************************
// START THE BASE...  TYPE STYLES
// ******************************************************************/

// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }
body {
	font-family: $body-text;
	line-height: 1.5;
	color: $body-text-color;
	min-width: 319px;
	font-size: 16px;
}


// ***************************
// H1, H2, H3, H4, H5 STYLES
// ***************************

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	color: $title-text-color;
	font-family: $title-text;
	font-weight: bold;
	@extend .lh;

}
h1, .h1{
	font-size: em(24);

	@media #{$s}{
		font-size: em(36);
	}
	@media #{$m}{
		font-size: em(48);
	}
	@media #{$b}{
		font-size: em(56);
	}
}
h2, .h2{
	font-size: em(20);

	@media #{$s}{
		font-size: em(32);
	}
	@media #{$m}{
		font-size: em(42);
	}
}

h3, .h3 {
    font-size:em(18);
    @media #{$s}{
    	font-size: em(24);
    }
    @media #{$b}{
    	font-size: em(32);
    }
}
h4, .h4 {
    font-size:em(18);
    @media #{$s}{
    	font-size: em(21);
    }
    @media #{$m}{
    	font-size: em(24);
    }
}
.big-title{
	font-size: em(28);

	@media #{$s}{
		font-size: em(48);
	}
	@media #{$m}{
		font-size: em(56);
	}
	@media #{$b}{
		font-size: em(64);
	}
}
.bigger-title{
	font-size: em(32);

	@media #{$s}{
		font-size: em(48);
	}
	@media #{$m}{
		font-size: em(60);
	}
	@media #{$b}{
		font-size: em(72);
	}
}
a{
	-webkit-transition: ease all 300ms;
	-moz-transition: ease all 300ms;
	-ms-transition: ease all 300ms;
	-o-transition: ease all 300ms;
	transition: ease all 300ms;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	text-decoration: none;
}


p {
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}


.bigger{
	font-size: 1.2em;
}

.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}


.smaller-text, .smaller{
	font-size: 0.75em;
}



.text-shadow{
	text-shadow: 0px 0px 25px rgba(0, 0, 0, 1); //http://www.melanieceraso.com/psd-to-css3/
}


.white{
	color: #fff;
	&:hover{
		color: #fff;
	}
}



