/*********************
COLORS
*********************/

//greys
$dark-grey:         #333333;
$grey:              #555555;
$mid-grey:          #B3B3B3;
$light-grey:        #ebebeb;
$black:             #172023;
$white:             #fff;


//brand colors
$blue:              #151f3d;

//alerts (not actively used)
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;
//wat
$label-pink:        #f01d4f;




//setting the color variables to content specific variables

$body-text-color:   $black;

$title-text-color:  $blue;

$link-color:        $dark-grey;
$link-hover:        $grey;





//image uri
$r : "../images/"; //#{$r}/logo-sprite.png