/////////////////blog styles/////////////////
/////////////////blog styles/////////////////
/////////////////blog styles/////////////////
.static-hero{
    position: relative;
    @media #{$m}{
        padding-top: 4em;
    }
    @extend .bgi;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($black, 0.8);
    }
}
.static-center-headline{
    position: relative;
    z-index: 1;
    padding: 1.5em 0;
    text-align: center;
    color: #fff;
    margin: 0;  
}

.archive-title{
    padding: 0.5em 0 0;
}
.article{
    padding: 1em;
}
.widgettitle{
    border-bottom: 1px solid $mid-grey;
    margin-bottom: 0;
    padding-right: 2em;
    padding-bottom: 0.15em;
    @extend .bigger;
    @extend .dib;
}
.sidebar{
    padding-left: 2em;
    @extend .from-m-up;
    @extend .p1;
    ul{
        margin-top: 0.5em;
    }
    li{
        text-transform: capitalize;
        @extend .pb1;
        @extend .lh;
        @extend .sans-serif;
        @extend .bold;
    }
}
// general article style
.vact{
    background-color: $blue;
    text-transform: uppercase;
    padding: 0.05em 0.5em 0.1em;
    @extend .lh;
    @extend .dib;
    a{
        color: #fff;
        font-size: 0.7em;
    }
}
.post-info{
    img, .vact-t-a{
        @extend .dib;
        vertical-align: middle;
    }
    img{
        max-width: 43px;
        height: auto;
        border-radius: 100%;
    }
    .vact-t-a{
        color: $mid-grey;
        margin-left: 0.5em;
        @media #{$b2}{
            font-size: 0.8em;
        }
        // @extend .ttu;
        a{
            color: $mid-grey;
        }
    }
}
.category-item{
    @extend .m0;
    @extend .lh1;
}

.normal-article{
    padding: 3em 1em;
    border-bottom: 1px solid $light-grey;
    max-width: 906px;
    @media #{$m}{
        padding: 3em 0;
    }
    @media #{$m2}{
        max-width: 482px;
        margin: auto;
    }
    &:first-of-type{
        @media #{$m2}{
            padding-top: 1em;
        }
    }
    .article-image-wrap{
        @media #{$m2}{
            margin-bottom: 1em;
            max-width: 250px;
        }
    }
    .category-item{
        margin-bottom: 0.2em;
    }
    h1{
        font-size: 1.4em;
    }
    .post-info{
        @media #{$b}{
            float: left;
        }
        @media #{$b2}{
            margin-bottom: 1em;
        }
    }
    .button{
        @media #{$b}{
            float: right;
        }
        @media #{$b2}{
            // padding: 0.2em 1.5em;
        }
    }
    .article-footer{
        padding-top: 0.8em;
    }
    
}
.article-excerpt{
    max-width: 560px;
}
.event-single-title{
    span{
        // font-family: $serif;
        @extend .smaller;
        @extend .italic;
        @media #{$s}{
            font-size: 0.5em;
            float: right;
            padding-top: 0.5em;
        }
    }
}

// 
// WordPress Ajax Load More buttoning
// 
.alm-btn-wrap{
    @extend .mt1;
}
button.alm-load-more-btn{   
   background-color: transparent;
   width:auto;   
   height: 42px;
   line-height: 1;
   margin: 0 0 4px;
   padding:0 25px;
   display: inline-block;       
   position: relative;
   // -webkit-transition: padding 0.25s ease-in-out;
   // -moz-transition: padding 0.25s ease-in-out;
   // transition: padding 0.25s ease-in-out;
   text-align: center;  
   text-decoration: none;
   -webkit-appearance: none; 
   -moz-appearance: none;   
   appearance: none;      
   // /* Prevents text selection */
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: pointer;
   outline: 0;
   @extend .button;
   @extend .tran;
}
    button.alm-load-more-btn:hover{
        background-color: $yellow;
        // color: #fff;
   color: #333;
}
    button.alm-load-more-btn:hover{
        background-color: $blue;
        color: #fff;
        // border-color: $red;
        text-decoration: none;
    }
    button.alm-load-more-btn:active{
        // background-color: $red;
        // color: #fff;
        color: #fff;
        // border-color: $red;
        -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }   
    
    /* Loading */
   button.alm-load-more-btn.loading{
        padding-left: 44px;
        background-color: $yellow;
        // color: #fff;
        background-color: $blue;
        color: #fff;
        // border-color: $red;
   }
    
   /* Loaded / Done */
    button.alm-load-more-btn.done{
        cursor: default;
        opacity: 0.2;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
   }  
      
   /* Loading Icon */
    button.alm-load-more-btn:before,
    button.alm-load-more-btn.done:before{                
        background: none;
        width: 0;
    }
    
    /* Loading :before */
    button.alm-load-more-btn.loading:before {
      background: #fff url('#{$r}ajax-loader.gif') no-repeat center center;
      width: 30px;
      height: 30px;
      margin: 3px 6px;      
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      border-radius:3px;
      display: inline-block;
      z-index: 0;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      // -webkit-transition: width 0.5s ease-in-out;
      // -moz-transition: width 0.5s ease-in-out;
      // transition: width 0.5s ease-in-out;
    }
    
.alm-btn-wrap{
    text-align:center;
    padding:10px 10px 30px;
    overflow: hidden;
    display: block;
}






// single blog post --- single.php
.single-article{
    // background-color: $light-grey;
    .normal-article{
        @extend .ma;
    }
}
.single-article-content{
    // @extend .p1;
    h1{
        @media #{$m}{
            font-size: 2.8em;
        }
        @extend .m0;
        @extend .lh1;
    }
    .article-header{
        padding: 2em 1em 0;
    }
    .byline{
        padding-top: 0.5em;
        img{
            max-width: 45px;
            border-radius: 100%;
            height: auto;
            vertical-align: middle;
            @extend .dib;
        }
    }
    .article-info-wrapper{
        color: $mid-grey;
        vertical-align: middle;
        margin-left: 0.5em;
        font-size: 0.9em;
        @extend .dib;
        // @extend .ttu;
        @media #{$xs2}{
            time{
                display: block;
                color: $mid-grey;
            }
            color: transparent;
        }
        .single-by, a{
            color: $mid-grey;
        }
    }
}
.share-article{
    text-align: center;
    max-width: 181px;
    width: 95%;
    margin: 3em auto;
    @extend .sans-serif;
    @media #{$xs2}{
        width: 100%;
        font-size: 0.85em;
    }
    a{  
        padding: 0.3em 0.5em 0.35em;
        @extend .cfff;
        @extend .ttu;
        @extend .fll;
        &:hover{
            @extend .cfff;
        }
    }
}
a.share-button-fb, a.share-button-tw{
    padding-left: 1.8em;
    background-image: url('#{$r}social.png');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: 0.4em 0.4em;
    text-decoration: none;
    @extend .bold;
}
.share-button-fb{
    background-color: #2e6cab;
    &:hover{
        background-color: darken(#2e6cab, 10%)
    }
}
a.share-button-tw{
    background-color: #4da7e6;
    background-position: 0.35em -1.85em;
    &:hover{
        background-color: darken(#4da7e6, 10%)
    }
}
a.comment-count{
    padding: 0.3em 0.7em 0.35em;
    background-color: $mid-grey;
    text-decoration: none;
    @extend .posr;
    @extend .bold;
    &:hover{
        background-color: darken($mid-grey, 10%);
        &:after{
            border-color: transparent darken($mid-grey, 10%) transparent transparent;
        }
    }
    &:after{
        content: '';
        @extend .posa;
        bottom: -1em;
        right: 1em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 1em 1em 0;
        border-color: transparent $mid-grey transparent transparent;
        @extend .tran;
    }
}
.author-area{
    border-top: 1px solid rgba($mid-grey, 0.4);
    padding: 2em 0;
    @media #{$m}{
        padding: 2em 3em;
    }
    img{
        max-width: 100px;
        border-radius: 100%;
        height: auto;
        @extend .dib;
    }
}
.author-description{
    padding-bottom: 2em;
    @extend .dib;
    h3{
        font-weight: normal;
        @extend .m0;
        span{
            font-style: italic;
        }
    }
    p{
        font-size: 0.9em;
        @extend .m0;
    }
    .author-link{
        text-decoration: none;
    }
}
.single-article-comments{
    @extend .p1;
    @extend .mw-710;
}

.single-article-more-posts{
    background-color: #fff;
    @extend .p1;
    @media #{$xs2}{
        padding: 1em 0;
    }
    .normal-article{
        &:last-child{
            border-bottom: 0;
        }
    }
}
.single-article-comments{
    @extend .p1;
}






















