// launchboom


// video hero
.video-hero{
	.video-holder {
		height: 100%;
		max-height: 2000px;
		video{
			width: auto;
			height: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.home-hero{
	min-height: 480px;
	text-align: center;
	position: relative;
	width: 100%;
	@media #{$s}{
		min-height: 580px;
	}
	@media #{$m}{
		min-height: 780px;
	}
	@media #{$b}{
		min-height: 880px;
	}
	
	&:before, &:after {
		z-index: 1;
		display: block;
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
	&:after{
		background: #2bacdf;
		background: -moz-linear-gradient(top, #2bacdf 0%, #000000 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #2bacdf), color-stop(100%, #000000));
		background: -webkit-linear-gradient(top, #2bacdf 0%, #000000 100%);
		background: -o-linear-gradient(top, #2bacdf 0%, #000000 100%);
		background: -ms-linear-gradient(top, #2bacdf 0%, #000000 100%);
		background: linear-gradient(to bottom, #2bacdf 0%, #000000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bacdf', endColorstr='#000000', GradientType=0 );
		opacity: 0.7;
	}
	.video-holder .video-cover{
		background-color: transparent;
	}
	.home-video-content{
		margin: auto;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	h1{
		padding-top: 1.5em;
		line-height: 1.1;
		text-transform: uppercase;
		position: relative;
		@media #{$m}{
			padding-top: 3em;
		}
	}
	.video-cta{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5rem;
		@media #{$s}{
			font-size: 1.75em;
		}
		&.animate{
			&:after{
				transform: scale(1);
			}
		}
		&:after{
			content: '';
			position: absolute;
			height: 5.1em;
			width: 2px;
			background-color: #fff;
			top: 100%;
			left: 50%;
			margin-left: -1px;
			transform: scale(0);
			transform-origin: 50% 0;
			@include transitionDelay(300ms);
			@extend .tran2;
		}
	}
}
.video-content-top-bar{
	padding: 1em;
	@media #{$s}{
		padding-top: 3em;
	}
	max-width: 1200px;
	margin: auto;
	.video-logo{
		float: left;
		max-width: 100px;
		@media #{$s}{
			max-width: 150px;
		}
		@media #{$b}{
			max-width: 300px;
		}
		@media #{$s2}{
			margin-top: -1.2em;
		}
		svg{
			width: 100%;
		}
	}
	.button{
		float: right;
		@media #{$s}{
			margin-top: 0.5rem;
		}
		@media #{$s2}{
			font-size: 0.9em;
		}
	}
}
.video-full{
	position: relative;
}
.embedded-video-wrap{
	height: 0;
	overflow: hidden;
	position: relative;
	background-color: $black;
}


// fixed bottom bar
.bottom-bar {
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background-color: rgba($black, 0.8);
	@media #{$m2}{
		display: none;
	}
}

.bottom-bar-inner {
	max-width: 750px;
	margin: auto;
	@media #{$m2}{
		transform: scale(0.9);
	}
}



.bottom-bar-left {
	float: left;
	width: 55%;
	color: $blue;
	margin: 12px 0 0;
	font-size: 21px;
}
.bottom-bar-left a{
	color: $blue;
}

.bottom-bar-right {
	float: right;
	width: 45%;
}

.bottom-bar-right p {
	float: left;
	width: 66%;
	text-align: right;
	text-transform: uppercase;
	margin: 8px 0 0;
	color: #fff;
	line-height: 1.2;
}
.bottom-bar-right p a{
	color: #fff;
}

.bottom-bar-right img {
	float: right;
	width: 23%;
	margin-top: -2em;
}

.bottom-bar-right span {
	display: block;
	font-weight: bold;
}
.bottom-bar-close-button {
	color: #fff;
	position: absolute;
	z-index: 3;
	cursor: pointer;
	top: 1rem;
	right: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 100%;
	line-height: .94;
	font-size: 1.15em;
}