/* the form box */

.login h1 a {
  /*start change*/
  background: url('../images/logo.png');
  background-color: #fff;
  background-size: 85%;
  /*end change*/
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  text-indent: -9999px;
  padding: 1em 0;
  display: block; 
}