.button{
    font-family: $button-font;
    padding: 0.5em 1.9em;
    text-align: center;
    background-color: $white;
    color: $blue;
    border: 2px solid $blue;
    line-height: 1.2;
    @extend .bigger;
    @extend .bold;
    @extend .ttu;
    &:hover{
        color: $blue;
        background-color: #fff;
    }
    
    @extend .dib;
    &.button-white{
        color: $blue;
        background-color: #fff;
        border: 2px solid $blue;
        &:hover{
            color: #fff;
            background-color: $blue;
        }
    }
    &.button-smaller{
        font-size: 0.8em;
    }
    &.button-bigger {
        @media #{$s}{
            font-size: 1.5em;
        }
    }
}

.ghost-button{
    background-color: transparent;
    &.white{
        color: #fff;
        border-color: #fff;
        &:hover{
            background-color: #fff;
            color: $blue;
        }
    }
    &.black{
        color: $black;
        border-color: $black;
        &:hover{
            background-color: $black;
            color: #fff;
        }
    }
}

.x-button{
    color: $blue;
    z-index: 3;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $blue;
    text-align: center;
    border-radius: 100%;
    line-height: 0.8;
    font-size: 1.15em;
    @media #{$m2}{
        line-height: 1;
    }
}

.play-button {
    background-color: $blue; 
    padding: 0.5em 1em; 
    display: inline-block; 
    text-align: center; 
    border: 2px solid $blue; 
    position: relative;
    @media #{$s2}{
        text-align: center;
    }
    &:hover, &:active, &:focus{
        
        background-color: #fff;
        svg{
            transform: translateX(-6em);
            polygon{
                stroke: $blue;
            }
        }
        span {
            transform: translateX(2em);
            color: $blue;
        }
    }

    span {
        vertical-align: middle; 
        padding-top: .2em; 
        display: inline-block;
        color: #fff;
        @extend .tran;
    }
    svg, polygon{
        @extend .tran;
    }
    polygon{
        stroke-width: 2px;
    }
}

.play-button-arrow {
    display: inline-block;
    vertical-align: middle;
}
